<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/search" method="get">
      <label for="username">Search Username:</label>
      <input type="text" id="search-username" name="username" required />
      <button type="submit">Search</button>
    </form>
    <ul>
      <% users.forEach(user => { %>
        <li><%= user.username %></li>
      <% }) %>
    </ul>
  </body>
</html>
